<div class="content">
    <div class="background-overlay"></div>
    <div class="content-container">
        <h1>Planejamento Participativo</h1>
        <h2> 
            Navegue pelo nosso site para descobrir os projetos em desenvolvimento,
            metas e objetivos da UTFPR Campus Pato Branco
            <br><br>
            Para saber mais sobre o campus acesse: <a href="https://www.utfpr.edu.br/campus/patobranco">UTFPR Pato Branco</a>

        </h2>
    </div>
</div>
