body {
    font-family: 'Arial', sans-serif;
    background-color: #fff8ed;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff4b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  .activities {
    margin-top: 20px;
  }
  
  .activity {
    padding: 8px;
    background-color: #d6f9fc;
    border-radius: 10px;
    margin-bottom: 10px;
    
  }
  
  .activity p {
    margin: 0;
    color: rgb(36, 36, 36);
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
  }
  
  .activity a {
    margin: 0;
    color: #007bff;
    text-decoration: none;
  }
  .activity a:hover {
    text-decoration: underline;
  }
  
  .new-activity-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .new-activity-link:hover {
    background-color: #0056b3;
  }
  
  .page-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .user-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-tag {
    color: #3700ff;
    font-weight: bold;
  }

  
  .delete-button {
    background-color: #ff3333;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .update-button {
    background-color: #2600ff;
    color: #ffffff;
    padding: 5px 10px;
    margin-bottom: 55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
.show{
  margin-left: auto
}

.progress-container {
  display: inline-block;
  top: 3px;
  width: 120px; 
  height: 14px; 
  background-color: lightgray;
  border: 1px solid black; 
  border-radius: 3px;
  position: relative;
}

.progress-bar {
  display: block;
  height: 100%;
  background-color: rgb(138, 233, 138); 
  width: 0; 
  transition: width 0.3s ease; 
}

.progress-label {
  position: absolute; 
  top: -3px;
  right: -45px; 
  height: 100%;
  line-height: 20px;
  color: black;
}

