.body{
    margin: 0;
    padding: 0;
    background-color: #fff8ed;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    margin-left: 10%;
}

#container {
    max-width: 30%;
  }
  
  .chart-container {
    display: flex;
    justify-content: space-between;
  }
  
  canvas {
    max-width: 500%;
  }
  
  #activityChart {
    margin: 5%;
    order: 1;
  }
  
  #completionChart {
    order: 2;
  }
  